*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: verdana;
	font-size: 100%;
}

.container{
	margin: auto;
	width: 1200px;
	margin-top: 20px;
}

nav{
	width: 300px;
	height: 400px;
	background-color: aliceblue;
	float: left;
	box-sizing: border-box;
	padding: 10px;

}

section{
	width: 700px;
	height: 1500px;
	margin-left: 10px;
	float: left;
	background-color: ghostwhite;
}

h1{
	font-family: verdana;
	font-size: 16pt;
	margin-left: 150px;
	margin-top: 20px;
	
}

ul.menu{
	list-style-type: none;
}

ul.menu li{
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}

a{
	text-decoration: none;
	color: grey;
	padding: 5px;
	font-size: 20px;
}

form{
	margin-left: 20px;
}

.campo{
	width: 400px;
	height: 30px;
	outline: none;
	border: 1px solid #ddd;
}

.campo2{
	width: 400PX;
	height: 30px;
	margin-left: -40px;
}

.valor{
	height: 30px;
	border: 1px solid #ddd;
}

.btn{
	width: 100px;
	height: 30px;
	border: 1px solid #ddd;
	margin-left: 200px;
	cursor: pointer;
}

.btn2{
	width: 50px;
	height: 30px;
}